/* Styles for the main sidenav container */
.main {
    height: 91.8%; /* Full height of the viewport */
    display: flex;
  }
  
  /* Styles for the sidenav */
  .sidenav {
    width: 235px; /* Width of the sidenav */
    background-color: #8fb6cc; /* Background color of the sidenav */
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 2px 0 5px rgba(226, 219, 219, 0.1); /* Optional shadow for a nice effect */
  }
  
  /* Styles for the avatar image */
  .avatar {
    display: block;
    width: 100px; /* Width of the avatar */
    height: 100px; /* Height of the avatar */
    border-radius: 20%; /* Make the avatar round */
    margin: 16px auto; /* Center the avatar horizontally */
  }
  
  /* Styles for the h4 element */
  h1 {
    text-align: center;                                                                             
    font-size: 25px;
    box-shadow: #3f51b5;
  }
  
  /* Styles for the menu button */
  .menu-button {
    width: 100%;
    justify-content: start;
    text-align: left;
    margin-top: 16px; /* Space between buttons */
  }
  
  /* Styles for the mat-divider */
  mat-divider {
    margin: 8px 0; /* Margin around the divider */
  }
  
  /* Additional styling to ensure proper layout */
  .mat-elevation-z8 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow for elevation */
  }
  .profile-button {
    margin-left: auto;
  }
  mat-toolbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6C7383;
  }
  .main-body{
    width: 100%;
    background-color: #e6e9ed;
    height: 100%;
  }

  